@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin:0;
  font-family: 'Urbanist', sans-serif;
}

.number {
  background-color: #404356 !important;
}

.basic {
  background-color: #4C434F !important;
}

.trigonometric {
  background-color: #324851 !important;
  font-size:20px !important;
}

.advanced {
  background-color: #262834 !important;
  font-size:20px !important;
}

.operation {
  background-color: #262834 !important;
}

input:active, input:focus, button:focus, button:active {
  outline:none;
}

// A w mojej głowie przestrzeń mam solidnie wypełnioną
// Setki wspomnień, więc podpierać muszę głowę dłonią
// Są rzeczy co bolą, co wolą raczej nie wychodzić na wierzch
// Tylko topić się na dnie
// Więc proszę nie dręczcie mnie
// Ja w tym co dobre, leciutkie chcę zanurzyć się i w tym pływać
// Brud zostawić za sobą później pozmywać
// Choć wiem że tak trudno z twarzą przegrywać
// Uczę się wiem że nie zawsze muszę wygrywać
// Uczę się, niewiele wyniosłem ze szkoły
// Pociłem się, nie spałem przez pierdoły
// Które równie szybko uleciały
// Nie rozwijały tego co rozwijać miały
// Zgubiłem się gdzieś lecz odnalazłem po roku
// Krok po kroku siebie szukałem
// Kręciłem łbem na lewo, na prawo
// W końcu podniosłem się i wstałem
// I stoję i z gęby słowa wypadają prosto na mikrofon
// Co pozwala nieść treść jak huragan, jak deszcz nieść moją treść
// Gubiłem się, wstałem by później z hukiem spaść na ziemię
// Są rzeczy co cieszą i bawią i są takie co dręczą sumienie
// Są we mnie sprzeczności których nie potrafię zmienić i nie zmienię
// Ulatują gdzieś i pozostaje po nich tylko wspomnienie
// Ahaa